body{
    font-family: "Microsoft YaHei", "仿宋", serif;
    font-size: 13px;
}

.search-con{
    padding:0 15px 10px 0px;
}
.search-con .form-group {
    padding-bottom: 4px;
}
.search-con #new-btn {
    margin-bottom: 4px;
}

.box-border{
    border: solid 1px #efefef;
    border-radius: 3px;
}

.vod-block-status{
    display: inline-block;
    text-align: center;
    width: 90px;
}

@media (min-width: 900px) {
    .search-con > .form-group {
        margin-right: 10px;
    }
}

/* 必需 */
.expand-transition {
    transition: all .1s ease;
    /*height: 30px;*/
    /*padding: 10px;*/
    /*overflow: hidden;*/
}

/* .expand-enter 定义进入的开始状态 */
/* .expand-leave 定义离开的结束状态 */
.expand-enter .expand-leave {
    height: 0;
    /*padding: 5px 5px;*/
    opacity: 0;
}

.table th, .table td {
    vertical-align: middle;
}

.list-thumbnail{
    height:50px;
    margin:-7px;
    border-radius: 2px;
}

.date-range {
    min-width: 174px;
}

.like-editor {
    position:absolute;
    width: 180px;
    box-shadow:#333 1px 2px 3px;
}

.td-img {
    margin-top: -7px;
    margin-bottom: -7px;
    height: 50px;
}

/**
    pagination start
 */
.page-con {
    margin: 0 auto;
    padding: 10px;
}
.page-con .page-info {
    padding-top: 5px;
    padding-bottom: 5px;
}
.page-con .pagination {
    margin: 0 !important;
}

@media screen and (max-width: 767px) {
    .page-con > div {
        float: none !important;
        text-align: center;
    }
    .page-con .pagination {
        float: none !important;
    }
}
/**
    pagination end
 */

.box-content {
    padding: 10px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
}

.cell-badge {
    margin-left: 2px;
    margin-right: 2px;
    display: inline-block;
    min-width: 10px;
    padding: 3px;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 2px;
    border: 1px solid #ccc;
}